.apply-btn{
    background-color: #0d6efd;
    color: white;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    display: inline-block;
}

#RecruitmentsList{
    padding: 10px 12px;
    border: 1px solid #0d6efd;
    outline: none;
    margin-left: 40px;
}
.viewlist-btn{
    background-color: #0d6efd;
    color: white;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    display: inline-block;
}
.applylist{
  align-content: center;
}
